<% include partials/header.ejs %>
<% include partials/middle.ejs %>



<h5 class="text-info">SignUp with:</h5>
<div class="col-md-6"></div>
<div id="register-link" style="text-align: center">
    <a href="https://api.codechef.com/oauth/authorize?response_type=code&client_id=be1d930e2de723825a7400c78e40faaa&redirect_uri=http://149.129.138.187:3000/callback&state=xyz" class="text-info text-right"><img src="https://s3.amazonaws.com/codechef_shared/sites/all/themes/abessive/logo.png" width="30%"></a>
</div>
</div>


<% include partials/footer.ejs %>
